// ====================================
// 				       Mixins
// ====================================

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition:    all $time ease-in-out;
  -o-transition:      all $time ease-in-out;
  -ms-transition:     all $time ease-in-out;
  transition:         all $time ease-in-out;
}
//@include transition($time);

@mixin scale3d($x,$y,$z) {
  -webkit-transform: scale3d($x,$y,$z);
  -moz-transform:    scale3d($x,$y,$z);
  -o-transform:      scale3d($x,$y,$z);
  -ms-transform:     scale3d($x,$y,$z);
  transform:         scale3d($x,$y,$z);
}
//@include scale3d($x,$y,$z);

@mixin rotate3d($x,$y,$z,$angle) {
  -webkit-transform: rotate3d($x,$y,$z,$angle);
  -moz-transform:    rotate3d($x,$y,$z,$angle);
  -o-transform:      rotate3d($x,$y,$z,$angle);
  -ms-transform:     rotate3d($x,$y,$z,$angle);
  transform:         rotate3d($x,$y,$z,$angle);
}
//@include rotate3d($x,$y,$z);

@mixin translate3d($x,$y,$z) {
  -webkit-transform: translate3d($x,$y,$z);
  -moz-transform:    translate3d($x,$y,$z);
  -o-transform:      translate3d($x,$y,$z);
  -ms-transform:     translate3d($x,$y,$z);
  transform:         translate3d($x,$y,$z);
}
//@include translate3d($x,$y,$z);

@mixin scale3d-Rotate3d-Translate3d($x1,$y1,$z1,$x2,$y2,$z2,$angle,$x3,$y3,$z3) {
  -webkit-transform: scale3d($x1,$y1,$z1) rotate3d($x2,$y2,$z2,$angle) translate3d($x3,$y3,$z3);
  -moz-transform:    scale3d($x1,$y1,$z1) rotate3d($x2,$y2,$z2,$angle) translate3d($x3,$y3,$z3);
  -o-transform:      scale3d($x1,$y1,$z1) rotate3d($x2,$y2,$z2,$angle) translate3d($x3,$y3,$z3);
  -ms-transform:     scale3d($x1,$y1,$z1) rotate3d($x2,$y2,$z2,$angle) translate3d($x3,$y3,$z3);
  transform:         scale3d($x1,$y1,$z1) rotate3d($x2,$y2,$z2,$angle) translate3d($x3,$y3,$z3);
}
//@include scale3d-Rotate3d-Translate3d($x1,$y1,$z1,$x2,$y2,$z2,$angle,$x3,$y3,$z3);


@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -o-box-sizing:      border-box;
  -ms-box-sizing:     border-box;
  box-sizing:         border-box;
}
//@include border-box;

@mixin transform-x($num) {
  -webkit-transform: translateX($num);
  -moz-transform:    translateX($num);
  -o-transform:      translateX($num);
  -ms-transform:     translateX($num);
  transform:         translateX($num);
}
//@include transform-x($num);

@mixin transform-x-50() {
  @include transform-x(-50%);
}
//@include transform-x-50();

@mixin transform-y($num) {
  -webkit-transform: translateY($num);
  -moz-transform:    translateY($num);
  -o-transform:      translateY($num);
  -ms-transform:     translateY($num);
  transform:         translateY($num);
}
//@include transform-y($num);

@mixin transform-y-50() {
  @include transform-y(-50%);
}
//@include transform-y-50();

@mixin transform-center() {
  position:          absolute;
  top:               50%;
  left:              50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform:    translate(-50%,-50%);
  -o-transform:      translate(-50%,-50%);
  -ms-transform:     translate(-50%,-50%);
  transform:         translate(-50%,-50%);
}
//@include transform-center();

@mixin transform-center-vertical() {
  position:          absolute;
  top:               50%;
  -webkit-transform: translate-y(-50%);
  -moz-transform:    translate-y(-50%);
  -o-transform:      translate-y(-50%);
  -ms-transform:     translate-y(-50%);
  transform:         translate-y(-50%);
}
//@include transform-center-vertical();

@mixin rotateY($num) {
  -webkit-transform: rotateY($num);
  -moz-transform:    rotateY($num);
  -ms-transform:     rotateY($num);
  -o-transform:      rotateY($num);
  transform:         rotateY($num);
}
//@include rotateY($num);

@mixin perspective($num) {
  -webkit-perspective: $num;
  -moz-perspective:    $num;
  -ms-perspective:     $num;
  -o-perspective:      $num;
  perspective:         $num;
}
//@include perspective($num);

@mixin shadow($num,$num,$num,$colors) {
  -webkit-filter: drop-shadow($num $num $num  $colors);
  -moz-filter:    drop-shadow($num $num $num  $colors);
  -ms-filter:     drop-shadow($num $num $num  $colors);
  -o-filter:      drop-shadow($num $num $num  $colors);
  filter:         drop-shadow($num $num $num  $colors);
}
//@include shadow($num, $num, $num , $colors);

@mixin shadow-inside() {
  -webkit-box-shadow: inset 0px -97px 64px -29px rgba(0,0,0,0.5);
  -moz-box-shadow:    inset 0px -97px 64px -29px rgba(0,0,0,0.5);
  -ms-box-shadow:     inset 0px -97px 64px -29px rgba(0,0,0,0.5);
  -o-box-shadow:      inset 0px -97px 64px -29px rgba(0,0,0,0.5);
  box-shadow:         inset 0px -97px 64px -29px rgba(0,0,0,0.5);
}
//@include shadow-inside();

@mixin grayscale($num) {
  -webkit-filter: grayscale($num);
  -moz-filter:    grayscale($num);
  -ms-filter:     grayscale($num);
  -o-filter:      grayscale($num);
  filter:         grayscale($num);
}
//@include grayscale($num);

@mixin blur($num) {
  -webkit-filter: blur($num);
  -moz-filter:    blur($num);
  -ms-filter:     blur($num);
  -o-filter:      blur($num);
  filter:         blur($num);
}
//@include blur($num);

@mixin backface-visibility($num) {
  -webkit-backface-visibility: $num;
  -moz-backface-visibility:    $num;
  -ms-backface-visibility:     $num;
  -o-backface-visibility:      $num;
  backface-visibility:         $num;
}
//@include backface-visibility($num);

@mixin appearance($num) {
  -webkit-appearance: $num;
  -moz-appearance:    $num;
  -ms-appearance:     $num;
  -o-appearance:      $num;
  appearance:         $num;
}
//@include appearance:($num);

@mixin rounded-content($num) {
  width:         $num !important;
  height:        $num !important;
  border-radius: 50%;
}
//@include rounded-content();
