
	* {
		padding:0;
		margin:0;
	}
	
	html, body {
		height:100%
		;
	}

	.skrollr-desktop body {
		height:100% !important;
	}

	body {
		font-family:sans-serif;
		background: #2E2E2E;
	}

	p {
		margin:1em 0;
	}

	.parallax-image-wrapper {
		position:fixed;
		left:0;
		width:100%;
		overflow:hidden;
	}





	.parallax-image-basic {
		left:0;
		width:100%;
		overflow:hidden;
	}

	.parallax-image-wrapper-50 {
		height:50%;
		top:-50%;
	}

	.parallax-image-wrapper-10 {
		height:100%;
		width: 20%;
		top:-100%;
		left: 25%;
	}


	.parallax-image-wrapper-left {
		height:100%;
		width: 20%;
		top:-110%;
		left: 50%;
	}

	.parallax-image-wrapper-100 {
		height:100%;
		top:-100%;
	}

	.parallax-image {
		display:none;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
	}

	.parallax-image-pixel {
		position:absolute;
		bottom:0;
		left:210;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size: 100%;
	}

	.parallax-image-constructio {
		position:center;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size: 100%;

	}


	.parallax-image-10 {
		height:100%;
		top:0%;
	}

	.parallax-image-left {
		height:100%;
		top:-5%;
		left: 50%;
	}

	.parallax-image-50 {
		height:100%;
		top:-50%;
	}

	.parallax-image-100 {
		height:92%;
		top:0;
	}

	.parallax-image.skrollable-between {
		display:block;
	}

	.no-skrollr .parallax-image-wrapper {
		display:none !important;
	}

	#skrollr-body {
		height:100%;
		overflow:visible;
		position:relative;
	}

	.gap {
		background:transparent center no-repeat;
		background-size:cover;
	}

	.skrollr .gap {
		background:transparent !important;
	}

	.gap-50 {
		height:50%;
	}

	.gap-90 {
		height:84%;
	}

	.gap-100 {
		height:100%;
	}

	.header, .content {
		background:#2E2E2E;
		position: center;
		padding:1em;
		height:1%;
	}

	.separapdor {
		background:#2E2E2E;
		padding:1em;
		height:0%;
	}

	.content-full {
		height:50%;
	}



	#done {
		height:100%;
	}

	.copyright {
			background:#2E2E2E;
			top:-100% ;
			font-family:sans-serif;
			color: #D8D8D8;
			font-size:12px;  
	        text-align: center;        
	}

	.logo {
		height:10%;
		background:#2E2E2E;
		background-image: url(images/PersonalLogo.png);
		background-position: left 3% top 70%;
		background-repeat: no-repeat;
		background-size: 20% auto;
		}

	