<div class="itemView">
  <div class="itemMedia">
    <img ng-src="{{item.image}}" alt="{{item.title}}"/>
  </div>
  <div class="itemInfo">
    <h1>{{item.title}}</h1>
    <p class="longText">{{item.long_description}}<a href="{{item.videoLink}}" ng-show="item.videoLink != null" target="_blank"> Ver Demo</a> </p>

    <h4 class="center-text" >Rol</h4>
    <p>{{item.role}}</p>

    <h4 class="center-text" ng-show="item.client != null">Cliente</h4>
    <p ng-show="item.client != null"><a href="{{item.clientLink}}">{{item.client}}</a></p>

    <h4 class="center-text" ng-show="item.award != null">Premio</h4>
    <p ng-show="item.award != null">{{item.award}}</p>

    <a href="#/" class="btn-back"></a>
  </div>
</div>
